<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test_fire" >
  <parameter name="browser" value="firefox"></parameter>
  <classes>
  <class name="Test_Scripts.Parallel_execution"/>
  </classes> 
  </test>
  <test name="Test_chrome" >
  <parameter name="browser" value="chrome"></parameter>
  <classes>
  <class name="Test_Scripts.Parallel_execution"/>
  </classes> 
  </test> 
</suite> 
